body {
  cursor: url(http://imageshack.com/a/img922/6285/gC18h6.png), auto;
  background: url("https://www.sideshow.com/storage/product-images/909612/harry-potter-hogwarts-castle-wallpaper-mural_harry-potter_silo.png");
  background-size: cover;
  /* background-color: rgba(0, 0, 0, 1); */
  font-family: "IM Fell English", "Lucida Handwriting", cursive;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline {
  color: #73594d;
}

.openB {
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 5px;
  min-width: 120px;
  max-width: 150px;
  z-index: 0;
  bottom: 30px;
  font-weight: 400;
  font-size: 1em;
  opacity: 0.7;
  transition: 0.2s ease-in-out;
  cursor: url(http://imageshack.com/a/img922/6285/gC18h6.png), auto;
  margin-bottom: 40px;
}

.openB:hover {
  background-color: #ebe2a7;
  color: black;
  transition: 0.2s ease-in-out;
}

img {
  animation-name: transition;
  animation-duration: 2s;
  transition: all 2s ease-in-out;
}

@keyframes transition {
  0% {
    background-position: top 150px left 120px, 110px 90px;
  }

  50% {
    background-position: top 150px left 100px, 362px 90px; /* Die Fische werden um die Häfte der Breite der fische.png-Grafik verschoben */
  }

  100% {
    background-position: top 150px left 120px, 615px 90px; /* Die Fische werden um die volle Breite der fische.png-Grafik verschoben */
  }
}
