.card2{
    position:fixed;
    left:45%;
    top:0%;
    background-size: cover;
    background-image: url("https://i.pinimg.com/originals/20/e9/5a/20e95a861ec908f8eef9711bc9200a72.jpg");
    background-position: center;
    
}
.cardContainer{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(165, 200, 213, 0.5);  
}

.logo{ width: 150px;}

.cardActions {
    cursor: url(http://imageshack.com/a/img922/6285/gC18h6.png), auto;
    color: #0ba10b
}